

DATABASE_URL="mysql://root:123456@localhost:3306/app"
PORT=3000

# configuração arquivos importados automaticamente pelo awilix
# tem que configurar para produção buscar os arquivos js
AWILIX_SERVICES = 'services/*.ts'
AWILIX_CONTROLLERS = 'controllers/*.ts'